<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Corrida</title>
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link data-th-href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link data-th-href="@{/css/buttons.css}" rel="stylesheet"
	type="text/css" />
<link data-th-href="@{/css/home.css}" rel="stylesheet" type="text/css" />
<link data-th-href="@{/css/forms.css}" rel="stylesheet" type="text/css" />
</head>
<body>

	<div data-th-include="~{cabecalho  :: menu_topo}"></div>

	<div class="container">

		<!-- FORMULARIO -->
		<div class="row">

			<div
				class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

				<form action="#" method="post" data-th-action="@{/corrida}"
					data-th-object="${corrida}" novalidate>

					<div class=" campos form-group"
						data-th-classappend="${#fields.hasErrors('IdMotorista')} ? has-error">
						<label for="sel1">* Motorista:</label> <select name="IdMotorista"
							data-th-field="*{IdMotorista}" class="form-control" id="sel1">
							<option value="">Escolha o motorista :</option>
							<div data-th-if="${motoristas != null}">
								<option data-th-each="motorista : ${motoristas}"
									data-th-if="${motorista.status} != 0"
									data-th-value="${motorista.id}"
									data-th-text="${motorista.nome}"></option>
							</div>
						</select>
					</div>

					<div class="campos form-group"
						data-th-classappend="${#fields.hasErrors('IdPassageiro')} ? has-error">
						<label for="sel1">* Passageiro:</label> <select
							name="IdPassageiro" data-th-field="*{IdPassageiro}"
							class="form-control" id="sel1">
							<option value="">Escolha o passageiro :</option>
							<option data-th-if="${passageiros != null}"
								data-th-each="passageiro : ${passageiros}"
								data-th-value="${passageiro.id}"
								data-th-text="${passageiro.nome}"></option>
						</select>
					</div>

					<label for="basic-url">* Valor:</label>
					<div class="campos input-group input_"
						data-th-classappend="${#fields.hasErrors('valor')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-usd"></span></span> <input
							data-th-field="*{valor}" type="text" class="valor form-control"
							aria-describedby="sizing-addon2" required>
					</div>

					<div data-th-if="${mensagem} != null" class="alert alert-success"
						data-th-text="${mensagem}" role="alert"></div>


					<button type="submit"
						class="botao button button-raised button-primary button-pill">Salvar</button>
					<br />

					<p class="obrigatorio text-right">* Campos obrigatórios</p>

				</form>

			</div>

		</div>

	</div>
	<script data-th-src="@{/webjars/jquery/jquery.min.js}"></script>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script data-th-src="@{/js/jquery.mask.js}"></script>
	<script data-th-src="@{/js/mascara.js}"></script>
</body>
</html>